* {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
}

html {
  background-color: black;
  color: white;
  font-family: 'VT323', monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 100vh;
}

.left-empty-space {
  width: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  order: 2;
  width: 80%;
  max-width: 50rem;
  min-width: 25rem;
  align-self: center;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  order: 3;
  width: 10%;
  max-width: 20rem;
  min-width: 12rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-borders {
  border-color: white;
  border-width: 2px;
  border-style: groove;
}

.card-title {
  width: auto;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -20px);

  background-color: black;
}

/* .card-title {
  position: absolute;
  width: auto;

  top: -20px;
  left: 50%;
  transform: translate(-50%, 0%);

  padding: 10px;
  background-color: black;
} */

.card-text {
  padding: 30px 20px;
}

#top_letter, #bottom_letter {
  font-size: 8rem;
}

aside > * {
  width: auto;
  padding: 0;
  margin: 0;
}

span {
  width: auto;
}

.option {
  font-size: 2rem;
}

.show_option {
  visibility: hidden;
}

.wd {
  font-family: 'Wingdings';
}

.solution {
  visibility: hidden;
}

button, input {
  width: auto;
  max-width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0;
  border-width: 0;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.category-box {
  min-height: 26rem;
}